{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Tunniplaan {% endblock %}

{% block content %}
    <div class='block'>
        <h2>Tunniplaan</h2>
        <p>Vali klass..
        </p>
        <form action="/mnrg/tunniplaan" method="GET">
        <select name="klass">
            <option value="10.a">10.a</option>
            <option value="10.b">10.b</option>
            <option value="10.c">10.c</option>
            <option value="11.a">11.a</option>
            <option value="11.b">11.b</option>
            <option value="11.c">11.c</option>
            <option value="12.a">12.a</option>
            <option value="12.b">12.b</option>
            <option value="12.c">12.c</option>
        </select>
        <input type="submit" value="Vaata tunniplaani">
        </form>
    </div>

    {% if paevad != '' %}
        <div class="block">
            <center>
                {% for p in paevad %}
                    <h2>{{ p }}</h2>
                    <table border="0">
                        {% for t in tund %}
                            {% if p == t.paev %}
                                <tr><td>{{ t.tund_nr }}.</td><td>{{ t.tund }} </td><td>{{ t.ruum }}</td></tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endfor %}
            </center>
        </div>
    {% endif %}
{% endblock %}